<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goHome()">Home</a></li>
    <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goProducts()">Products</a></li>
    <li *ngIf="!isLoading">
      <ng-container *ngIf="!isLoggedIn; else notLoggedIn">
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="login()">Login</a>
      </ng-container>
      <ng-template #notLoggedIn>
        <a (click)="logout()">Logout</a>
      </ng-template>
    </li>
  </ul>
</nav>

