nav {
  background-color: #004080; /* Azul marino */
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a.active {
  background-color: #0056b3; /* Color de fondo cuando el enlace está activo */
  color: white; /* Color del texto cuando el enlace está activo */
  font-weight: bold; /* Fuente en negrita cuando el enlace está activo */
}

nav ul li a.active:hover {
  background-color: #003366; /* Color de fondo en hover cuando el enlace está activo */
}
