footer {
  background-color: #004080; /* Azul marino */
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 40px; /* Espacio adicional antes del footer */
}

footer p {
  margin: 0;
}



  