.pokemon-list {
  width: 80%;
  margin: 50px auto;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pokemon-item {
  padding: 20px; 
  border: 2px solid #FF0000; 
  border-radius: 15px; 
  text-align: center;
  background-color: #FFF; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.pokemon-item button {
  background-color: #3B4CCA; 
  color: white;
  border: none;
  border-radius: 10px; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 16px; 
  margin-top: 10px; 
}

.pokemon-item button:hover {
  background-color: #2a2d9f; 
}

.pokemon-details, .type-details, .selected-pokemon {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}


  