.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  min-height: calc(100vh - 100px);
  background-color: #f8f9fa;
}

.product-image {
  max-width: 300px;
  margin-bottom: 20px;
}

.product-details {
  max-width: 600px;
  text-align: justify;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #003366;
}





  