.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

/* Estilo para pantallas medianas */
@media (max-width: 1200px) {
  .product-list{
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas medianas */
  }
}

/* Estilo para pantallas pequeñas */
@media (max-width: 800px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
  }
}

/* Estilo para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  .product-list {
    grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
  }
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  height: 450px; /* Altura fija para todos los contenedores */
}

.product-item:hover {
  transform: translateY(-10px);
}

.product-image {
  max-width: 100%;
  height: 250px; /* Ajuste de altura para que la imagen entre completamente */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
  margin-bottom: 10px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details h3 {
  margin: 10px 0;
  color: #004080;
  font-size: 16px;
}

.product-details p {
  margin: 10px 0;
  color: #007bff;
  font-size: 14px;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  align-self: center;
  margin-top: 10px; /* Añadir margen para separación */
  margin-bottom: 10px; /* Añadir margen para separación */
}

button:hover {
  background-color: #00264d;
}


