.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  height: 450px; /* Altura fija para todos los contenedores */
}

.product-item:hover {
  transform: translateY(-10px);
}

.product-image {
  max-width: 100%;
  height: 250px; /* Ajuste de altura para que la imagen entre completamente */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
  margin-bottom: 10px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details h3 {
  margin: 10px 0;
  color: #004080;
  font-size: 16px;
}

.product-details p {
  margin: 10px 0;
  color: #007bff;
  font-size: 14px;
}

button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  align-self: center;
  margin-top: 10px; /* A침adir margen para separaci칩n */
  margin-bottom: 10px; /* A침adir margen para separaci칩n */
}

button:hover {
  background-color: #00264d;
}


